# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
!/.idea/.gitignore
!/.idea/educations.iml
!/.idea/misc.xml
!/.idea/modules.xml
!/.idea/runConfigurations.xml
!/.idea/vcs.xml
!/.idea/workspace.xml
!/.idea/
